
code {
  padding: 3px;
  background-color: #cccccc;
  border: 1px solid black;
}

.project-card .mat-list-item {
  margin-left: 15px;
}

.mat-list .mat-list-item {
  display: block;
  height: 30px;
}
